<div class=index id=onvatrouver>
<h1>Tasks   <i class="fa-solid fa-list-check"></i></h1>

<ul>
  <% @tasks.each do |task| %>
      <h3>Title: <%= link_to task.title, task_path(task)%></h3>
  <% end %>
</ul>
     <button> <%= link_to 'New Task', tasks_new_path %>
</div>
